@charset "UTF-8"

ody { background-color: aquamarine;
    color: blueviolet;

}

h1 {color: blue;
background-color: rgb(72, 192, 42);
font-family: Arial, Helvetica, sans-serif;
}
h2 {
color: brown;

}