@charset "UTF-8";

/* Formato mobile First */

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}

body{
    
    background: black url(../imagens/back-phone.jpg) no-repeat center 
    center;
    background-size: cover;   

}

html{
    height: 100vh;
}

main{
    width: 50vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px #0b0b0b;
    box-shadow: 1px 1px 2px #0000005e;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

img{
    margin: auto;
    display: block;
}



#print{display: none;}
#tablet{display: none;}
#PC{display: none;}
#TV{display: none;}
#phone{display: block;}